cuda/
cudnn-linux-x86_64-8.6.0.163_cuda11-archive/
logs/
venv_sca/
__pycache__/
*.zip
secrets.json
*.run
*.xz
.vscode/
mistral-7b-instruct-v0.2.Q5_K_M.gguf
data/
camembert_custom_model/
results/
silero_vad_model.pt
plots/
*.csv
.gitconfig
print/
scripts/
whisperpyannotemain/